@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Noto+Sans+JP&family=Plaster&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@300;500;600;700&display=swap");

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #020202;
  --white: #e0e0e0;
  --max-width: 1800px;

  --large-font-size: clamp(1rem, 5vw + 0.1px, 8rem);
  --big-font-size: clamp(1rem, 2.5vw + 0.1px, 4rem);
  --medium-font-size: clamp(1rem, 1.25vw + 0.1px, 2rem);
  --small-font-size: clamp(1rem, 1.25vw + 0.1px, 1.5rem);
  --smaller-font-size: clamp(0.7rem, 1vw + 0.1px, 1rem);
  --tiny-font-size: 0.75rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  /* background: transparent; */
  background: var(--white);
  border-radius: 99px;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 99px;
}
